{{#if next}}
  <div class="o-grid">
    <div class="c-pagination">
      <button class="js-load-more js-contrast c-btn" style="--color-accent: var(--color-site-accent);">{{t "Load More" }}</button>
    </div>
  </div>
{{/if}}