// ------------------------------------
// Editor > Instagram Card
// ------------------------------------

.instagram-media {
  margin-bottom: 0 !important;
  margin-top: var(--content-flow) !important;
  border: var(--border-width-default) var(--border-style-default) var(--color-site-text) !important;
}