// ------------------------------------
// Blocks > Tags
// ------------------------------------

.c-block--tags__content {
  display: flex;
  flex-wrap: wrap;
  gap: 1lh;
  justify-content: center;
}