// ------------------------------------
// Blocks > Tokens > Blocks
// ------------------------------------

:root {
  --block-space-small:     var(--space-400);
  --block-space-medium:    var(--space-800);
  --block-space-base:      var(--space-1200);
  --block-space-large:     var(--space-1600);
  --block-space-x-large:   var(--space-2400);
  --block-space-2x-large:  var(--space-3200);
}