// ------------------------------------
// Tokens > Focus
// ------------------------------------

:root {
  --outline-focus-width: var(--space-025);
  --outline-focus-style: solid;
  --outline-focus-offset: var(--space-025);
  --outline-focus-color: currentColor;
}