// ------------------------------------
// Tokens > HTML Symbols
// ------------------------------------

:root {
  --symbol-html-divider: '✺';
  --symbol-html-em-dash: '—';
  --symbol-html-checkmark: '✓';
  --symbol-html-multiplication: '✕';
  --symbol-html-emDash: '\2014';
  --symbol-html-space: '\2002';
}