<div id="modal-post" class="c-modal-post" role="dialog" aria-modal="true" aria-label="Post Modal" aria-hidden="true" aria-describedby="modal-post-content" tabindex="-1">
  <div class="c-modal-post__overlay"></div>
  <div class="c-modal-post__container">
    <button class="c-modal-post__close c-btn c-btn--neutral c-btn--outline c-btn--icon" aria-label="Close modal" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
    <div id="modal-post-content" class="c-modal-post__content" role="document">
      <!-- Content will be loaded here via JavaScript -->
    </div>
    <div class="c-modal-post__scroll-indicator" aria-hidden="true"></div>
  </div>
</div>